@charset "utf-8";
#text {
    text-align: center;
    text-justify: inter-word;
    color:#FFFFFF;
    font-size: xx-large;
}

.myButton {
	background-color:#FFFFFF;
	-moz-border-radius:29px;
	-webkit-border-radius:29px;
	border-radius:29px;
	border:7px solid #FFBF00;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:18px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 0px 7px #2f6627;
	
}
.myButton:hover {
	background-color:#F1EF92;
}
.myButton:active {
	position:relative;
	top:1px;
}
#vista {
    border-radius: 50px;
    border:6px solid #FFBF00;
    background: #1963CB;
    padding: 20px; 
}
#buttonC{
	position: relative;
	left: 200px;
	top: 10px;
}
#buttonA{
	position: relative;
	left: 750px;
}



